body {

  background-color: white;

}

img, embed, object, video {

  max-width: 100%

}

a {

  text-decoration: none;
  color: black;

}

.header {
  background: white;
  text-align: center;
  height: 130px;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  border-bottom: 1px solid black;
}

.left-header {

  min-width: 20%;
  text-align: left;

}

.right-header {

  min-width: 80%;
  text-align: right;
  font-size: 25px;

}

.header-title {
  font-size: 3em;
}

.header-subtitle {

  font-size: 1em;

}

#header_logo {

  height: 100%;
  min-width: 100px;

}

.flexbox-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  font-weight: bold;
  text-align: center;
  max-width: 1400px;
  margin: auto;
}

.flexbox-container > * {
  padding: 10px;
  flex: 1 100%;
}

.footer {
  background: #e0e3e5;
}

.main {
  text-align: left;
  background: #f7f8f9;
}

.aside {
  background: #f7f8f9;
  border-right: 2px solid black;
  max-width: 250px;

}

.aside p {

  max-width: 200px;
  margin: 0px;
  padding: 10px;
  text-align: left;

}

.aside h2 {

  max-width: 200px;
  margin: 0px;
  padding: 10px;
  text-align: left;

}

.social-media-icon {

  width: 48px;
  height: 48px;

}

#aside-profile-img {

  width: 225px;
  height: 225px;

}

.aside article {

  margin: 10px;

}

@media screen and (min-width: 501px) {

  .aside {
    flex: 1 auto;
  }

}

@media screen and (min-width: 800px) {
  .header { order: 0; }
  .main    { flex: 5 0px; }
  .aside   { order: 1; }
  .main    { order: 2; }
  .footer  { order: 3; }

}

@media screen and (min-width:1px) and (max-width:800px) {
  .aside   {
    display: flex;
    border: 0px;
    padding: 0px;
    justify-content: center;
    min-width: 100%;
  }
  .left-header { display: none; }
  #profile-info { display: none; }
  .right-header {
    text-align: center;
    min-width: 100%;
  }

}

@media screen and (min-width:501px) and (max-width:800px) {

  .header {
    height: 90px;
  }

  .header-title {
    font-size: 2em;
  }

  .header-subtitle {
    font-size: 0.8em;
  }

}

@media screen and (min-width:1px) and (max-width:500px) {

    .header {
      height: 65px;
    }

    .header-title {
      font-size: 1.5em;
    }

    .header-subtitle {
      font-size: 0.5em;
    }

}

#project_links {

  padding: 7px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;

}

#project_links_header {

  width: 100%;
  text-align: left;

}

section#project_links article {

  max-width: 225px;
  margin: 10px;
  flex: 1;

}

section#project_links article img{

  height: 225px;
  min-width: 225px;
  max-width: 225px;

}

section#project_links article footer{

  width: 100%;

}

#site_text {

  max-width: 100%;
  margin: 0 auto;
  padding: 10px;

}

#site_banner {

  max-width: 100%;
  background-size: cover;
  text-align: center;
  padding: 10px;

}
